<header class="p-3 text-bg-dark">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <a class="navbar-brand" style="color:white;">App covoiturage</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                  <a class="nav-link" routerLink="/utilisateur">Utilisateurs<span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item active">
                  <a class="nav-link" routerLink="/vehicule">Vehicules<span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item active">
                  <a class="nav-link" routerLink="/anonce">Anonces<span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item active">
                  <a class="nav-link" routerLink="/reservation">Reservations<span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item active">
                  <a class="nav-link" routerLink="/boite">Types boite<span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item active">
                  <a class="nav-link" routerLink="/profil">Profiles<span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item active">
                  <a class="nav-link" routerLink="/ville">Villes<span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item active">
                  <a class="nav-link" routerLink="/typev">Types vehicules<span class="sr-only">(current)</span></a>
               </li>
            </ul> 
            <!-- <a class="nav-link" (click)="onOpenLoginModal()">Login <span class="sr-only">(current)</span></a>
            <a class="nav-link" (click)="onOpenSignupModal()">Sign up <span class="sr-only">(current)</span></a> -->
         </div>
       </nav>
 </header>
<router-outlet></router-outlet>